{% extends '@BytefusionLunchDefault/page.html.twig' %}
{% block content %}
    <div class="row grid-divider">
        <div class="col-md-6">
            <div class="col-padding">
                <h3>Huidig saldo lunchpot:</h3>
                <h2><span class="glyphicon glyphicon-euro"></span> 0,00</h2>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-padding">
                <h3>Openstaand bedrag huidige ronde</h3>
                <h2><span class="glyphicon glyphicon-euro"></span> 47,60</h2>
            </div>
        </div>
    </div>
{% endblock %}